@import url('Main.css');
@import url('components/TitleBar.css');

/* CSS per evidenziare il nodo al passaggio del mouse */
.chart-line-symbol:hover {
  -fx-background-color: -fx-primary-color; /* Cambia colore */
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0); /* Aggiunge un effetto ombra per evidenziarlo ulteriormente */
  -fx-padding: 40px; /* Rende il nodo più grande */
}

.popup .label {
  -fx-text-fill: -fx-primary-color;
}
