@import url('Main.css');

.text-field {
  -fx-background-color: #f7dba7, #282a37;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-background-radius: 0;
  -fx-text-fill: #f7dba7;
}
.text-field:focused {
  -fx-background-color: #cc4400, #282a37;
  -fx-text-fill: #cc4400;
}

#exitButton {
  -fx-font-size: 0.5em;
}
